@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  scroll-behavior: smooth;
}


.App { 
  min-height: 100vh;
  background-color: #E8F9FD;
  padding-top: 130px;
  padding-bottom: 70px;
}

@media(max-width:700px) {
  .app {
    padding-top: 70px;
  }

}

.pageTitle { 
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-size: 2vw;
  padding: 4px;
  border-radius: 50px;
  color: #1B2430 ;
}

@media (max-width:1400px) {
  .pageTitle {
    font-size: 6.4vw;
  }
}